* {
    margin:0;
    padding: 0;
}

.content {
    padding: 5%;
}

header{
    width: 100%;
    position: absolute;
    z-index: 10;
}

.header-cont {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a {
    text-decoration: none;
    color: #F15152;
}
a:active {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
    color: #F4D8CD;
}

.home-banner {
    display: flex;
    flex-direction: column;
    font-family: 'Silkscreen';
    background-color: black;
    color: #F15152;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.small-text {
    font-family: 'DM Sans', serif;
}

h1 {
    font-family: 'Silkscreen', serif;
    font-size: 25vw;
    padding: 0;
    margin: 0;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

h3 {
    font-family: 'Silkscreen', serif;
    font-size: 4vw;
}
h4 {
    font-family: 'Silkscreen', serif;
    font-size: 3vw;
    margin: 20px 0;
}

.mid-section {
    background-color: #1E555C;
    padding: 0;
    margin: 0;
    color: #F4D8CD;
    position: relative;
}

.mid-img {
    width: 100px;
    height: 100px;
}
.boxing {
    position: absolute;
    top: 0px;
    left: 10px;
    rotate: -25deg;
}
.lightning {
    position: absolute;
    top: 40px;
    right: 70px;
    rotate: 90deg;
}

.mid-text-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mid-text-cont > p {
    width: 45%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}

.third-section {
    background-color: #F4D8CD;
    min-height: 200px;
    padding-top: 100px;
    padding-bottom: 25px;
    color: #1E555C;
}

.third-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.third-text {
    width: 40%;
    position: relative;
}
.third-text p {
    width: 80%;
    font-size: 20px;
}
.third-img {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}
.head-img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.cloud {
    rotate: 0deg;
    margin-left: 50px;
}
.trend {
    position: absolute;
    left: 51%;
    top: 25px;
    rotate: -25deg;
    display: none;
}

.fourth-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.abstract {
    width: 120px;
    height: 120px;
    filter: invert(0%);
    opacity: 100%;
}

.fourth-head {
    width: 80%;
    margin: 100px auto 50px auto;
    text-align: center;
}

.sign {
    padding: 10px;
    background-color: #1E555C;
    color: white;
    margin-right: 5px;
}
.learn {
    padding: 10px;
    background-color: black;
    color: white;
    margin-left: 5px;
}

.fifth-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.abstract-row {
    width: 75px;
    height: 75px;
}

.sixth-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}
.sixth-head {
    width: 30%;
}

p.sixth-head {
    font-size: 20px;
}

.arrow {
    width: 100px;
    height: 100px;
    rotate: 45deg;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    .third-img {
        width: 300px;
        height: 200px;
    }
    .mid-text-cont {
        flex-direction: column;
    }
    .mid-text-cont > p{
        width: 80%;
        padding: 0;
    }
    .third-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .third-text {
        width: 100%;
        padding-bottom: 50px;
        text-align: center;
    }
    .third-text > p {
        margin: auto;
        width: 100%;
    }
    .lightning {
        right: 0;
        top: 100px;
    }
    .boxing {
        top: 50%;
        left: 65%;
        rotate: 25deg;
    }
    .cloud {
        position: absolute;
        margin: 0;
        left: 0px;
        top: -100px;
    }
    .trend {
        top: -75px;
        left: 65%;
        rotate: 0deg;
        display: block;
    }
    .fourth-head {
        width: 100%;
        margin: 100px 0 50px 0;
    }
    .abstract-row {
        width: 25px;
        height: 25px;
    }
    .sixth-cont {
        flex-direction: column;
    }
    .sixth-head {
        width: 75%;
        font-size: 25px;
    }
    .arrow {
        rotate: 140deg;
        margin: 50px auto;
    }
    .fifth-cont {
        flex-direction: row;
    }
}